//- header.header
//- 	.header__container
//- 		.header__logo-wrapper 
//- 			img(src="img/icons/logo.svg", alt="logo")
//- 			h1.header__heading Nvidia
//- 		nav.header__nav 
//- 			ul.header__nav-list
//- 				li.header__nav-item 
//- 					a.header__nav-link(href="#") Продукты
//- 				li.header__nav-item 
//- 					a.header__nav-link(href="#") Технологии
//- 				li.header__nav-item 
//- 					a.header__nav-link(href="#") Experience
//- 				li.header__nav-item 
//- 					a.header__nav-link(href="#") Drivers
//- 				li.header__nav-item 
//- 					a.header__nav-link(href="#") Новости
//- 		.header__burger
//- 		.header__social
//- 			.header__social-yt.header__social-img
//- 				a.header__social-link(href="https://youtube.com")
//- 			.header__social-tch.header__social-img
//- 				a.header__social-link(href="#") 
//- 			.header__social-tw.header__social-img
//- 				a.header__social-link(href="https://twitter.com") 				
//- 			.header__social-insta.header__social-img
//- 				a.header__social-link(href="https://instagram.com")

header.header
	.container
		.header__body
			a(href="#").header__logo 
				img(src="img/icons/logo.svg", alt="logo")
			.header__burger
				span.span
			nav.header__menu 
				ul.header__list
					li.header__item 
						a.header__link(href="#") Продукты
					li.header__item 
						a.header__link(href="#") Технологии
					li.header__item 
						a.header__link(href="#") Experience
					li.header__item 
						a.header__link(href="#") Drivers
					li.header__item 
						a.header__link(href="#") Новости
			.header__social
				.header__social-yt.header__social-img
					a.header__social-link(href="https://youtube.com")
				.header__social-tch.header__social-img
					a.header__social-link(href="#") 
				.header__social-tw.header__social-img
					a.header__social-link(href="https://twitter.com") 				
				.header__social-insta.header__social-img
					a.header__social-link(href="https://instagram.com")




