.main
    .main__container
        h2.main__heading Преимущества G-SYNC
        p.main__info 
            | Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль
            | качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC. 
        .main__all-card
            .main__card.main__card-img.main__card-img-1
                h3.main__card-name 
                    span.main__green HDR
                    span 
                    | DISPLAY
                p.main__card-info Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.
            .main__card.main__card-img.main__card-img-2
                h3.main__card-name 
                    span.main__green INPUT 
                    span 
                    | LAG
                p.main__card-info Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.
            .main__card.main__card-img.main__card-img-3
                h3.main__card-name 
                    span.main__green HIGH REFRESH 
                    span
                    | RATE
                p.main__card-info NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.
            .main__card.main__card-img.main__card-img-4
                h3.main__card-name 
                    span.main__green WIDE COLOR 
                    span
                    | GAMUT
                p.main__card-info Современные мониторы 
                p.main__card-info 
                    | G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.
        .main__button-wrapper
            button.main__button
                a.main__button-link(href='#helloModal' data-toggle="modal") Купить

